@import 'tailwindcss';
@plugin '@tailwindcss/typography';
/* @import '../../node_modules/preline/variants.css'; */

@theme {
	--color-blue: oklch(0.707 0.165 254.624);
	--color-purple: oklch(0.714 0.203 305.504);
	--color-pink: oklch(0.718 0.202 349.761);
	--color-orange: oklch(0.75 0.183 55.934);
	--color-green: oklch(0.792 0.209 151.711);
	--color-yellow: oklch(0.852 0.199 91.936);
	--color-gray-dark: oklch(0.13 0.028 261.692);
	--color-gray: oklch(0.707 0.022 261.325);
	--color-gray-light: oklch(0.985 0.002 247.839);
	--color-prussian-blue: #003049;

	--font-serif: 'Merriweather', 'serif';
	--columns: 14;

	--spacing-8xl: 96rem;
	--spacing-9xl: 128rem;

	--radius-4xl: 2rem;
}

@theme inline {
	--font-sans: var(--font-inter);
}

@layer base {
	a {
		@apply inline-flex items-center gap-x-2 rounded-lg text-sm font-semibold text-gray-800 hover:text-blue-600 focus:text-blue-600 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-gray-300 dark:hover:text-white/70 dark:focus:text-white/70;
	}

	p {
		@apply text-sm;
	}

	h1 {
		@apply py-2 text-xl;
	}

	h2 {
		@apply py-2;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a {
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	.content {
		@apply px-4;
	}

	body {
		@apply dark:bg-prussian-blue text-gray-400;
	}
}
